@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

main {
  font-family: 'gothic', sans-serif;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #2c2cff;
  text-decoration: underline;
}

h1 {
  font-size: 2.5em;
  font-weight: bolder;
  color: #323E4F;
}

h2 {
  font-size: 1.8em;
  font-weight: bolder;
  color: #2F5496;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #2F5496;
}

h4 {
  font-weight: bold;
  color: #4472C4;
}

li {
  margin-left: 1.2em;
  list-style-type: disc;
}

@font-face {
  font-family: 'gothic';
  src: local('gothic'), url('../public/fonts/gothic.woff') format('woff');
}